<!DOCTYPE html>
<html>
  <head>
    <title>DontBeTutleAnnots</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main role="main" class="container">
      <%= yield %>
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Annotation tools for <a href="https://github.com/motlabs/dont-be-turtle" target="_blank">Don't be turtle</a>. &copy; <a href="http://github.com/tantara" target="_blank">tantara</a></span>
      </div>
    </footer>
  </body>
</html>
